@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Montserrat", sans-serif;
  background: #f6f5f7;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  margin: 50px 0;
}

h1 {
  font-weight: bold;
  margin: 0;
  font-size: 2.8rem;
}

p {
  font-size: 1.4rem;
  font-weight: 100;
  line-height: 20px;
  letter-spacing: 0.5px;
  margin: 20px 0 30px;
}

.form-container p {
  font-size: 1.2rem;
  margin: 0;
}

.fpass {
  margin: 25px 0 15px 0;
  padding-bottom: 5px;
  border-bottom: 2px dotted grey;
}

a {
  color: #333;
  font-size: 1.4rem;
  text-decoration: none;
  margin: 15px 0;
}

.container {
  background: #fff;
  border-radius: 1rem;
  box-shadow: 0px 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  overflow: hidden;
  position: relative;
  width: 76.8rem;
  max-width: 100%;
  min-height: 48rem;
}

.form-container form {
  background: #fff;
  display: flex;
  flex-direction: column;
  padding: 0 50px;
  height: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.social-icons {
  margin: 20px 0;
}

.social-icons a {
  border: 1px solid #ddd;
  border-radius: 50%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 0 5px;
  height: 40px;
  width: 40px;
  text-decoration: none;
}

.form-container input {
  background: #eee;
  border: none;
  border-radius: 0.5rem;
  padding: 12px 12px 12px 40px;
  margin: 8px 0;
  width: 100%;
}

.input-div {
  position: relative;
  width: 100%;
}

.input-div label {
  position: absolute;
  left: 12px;
  top: 18px;
  font-size: 1.6rem;
  color: rgb(85, 85, 85);
}

button {
  border-radius: 20px;
  border: 1px solid #ff4b2b;
  background: #ff4b2b;
  color: white;
  font-size: 1.2rem;
  font-weight: bold;
  margin-top: 25px;
  padding: 12px 45px;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: all 10ms ease;
  cursor: pointer;
}

button:active {
  transform: scale(0.97);
}

button:focus {
  outline: none;
}

button.overlay-button {
  background: transparent;
  border-color: #fff;
}
.form-container {
  position: absolute;
  top: 0;
  height: 100%;
  transition: all 0.6s ease-out;
}

.signin-container {
  background-color: black;
  left: 0;
  width: 60%;
  z-index: 2;
}

.signup-container {
  background-color: black;
  left: 0;
  width: 60%;
  z-index: 1;
  opacity: 0;
}

.overlay-container {
  position: absolute;
  left: 60%;
  width: 40%;
  height: 100%;
  overflow: hidden;
  transition: transform 0.6s ease-out;
  z-index: 100;
}

.overlay {
  background: url(./background.png) no-repeat 0 0,
    linear-gradient(to right, #ff4b2b, #ff416c) no-repeat 0 0 / cover;
  position: relative;
  color: #fff;
  left: -150%;
  height: 100%;
  width: 250%;
  transform: translateX(0);
  transition: all 0.6s ease-out;
}

.overlaypanel {
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 40px;
  height: 100%;
  width: 40%;
  text-align: center;
  transform: translateX(0);
  transition: all 0.6s ease-out;
}

.overlay-right {
  right: 0;
}

.overlay-left {
  left: 0;
  transform: translateX(-50%);
}

/* Animation */

.container.right-panel-active .signin-container {
  transform: translateX(66.667%);
  opacity: 0;
}

.container.right-panel-active .signup-container {
  transform: translateX(66.667%);
  z-index: 3;
  opacity: 1;
}

.container.right-panel-active .overlay-left {
  transform: translateX(25%);
}

.container.right-panel-active .overlay-right {
  transform: translateX(50%);
}

.container.right-panel-active .overlay {
  transform: translateX(50%);
}

.container.right-panel-active .overlay-container {
  transform: translateX(-150%);
}
